# Logs
logs
*.log
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/config/_proxy.ts

叫号精灵_3.5.7
叫号精灵_3.5.8
叫号精灵_3.5.9
叫号精灵_3.5.10
叫号精灵_3.5.11
叫号精灵_3.5.12
叫号精灵_3.5.13
叫号精灵_3.5.14
叫号精灵_3.5.15
叫号精灵_3.5.16
叫号精灵_3.5.17
叫号精灵_3.5.18
叫号精灵_3.5.19
叫号精灵_3.5.20

叫号精灵_3.6.0
叫号精灵_3.6.1
叫号精灵_3.6.2
叫号精灵_3.6.3
叫号精灵_3.6.4
叫号精灵_3.6.5
叫号精灵_3.6.6
叫号精灵_3.6.7
叫号精灵_3.6.8
叫号精灵_3.6.9
叫号精灵_3.6.10
叫号精灵_3.6.11
叫号精灵_3.6.12
叫号精灵_3.6.13
叫号精灵_3.6.14
叫号精灵_3.6.15
叫号精灵_3.6.16
叫号精灵_3.6.17
叫号精灵_3.6.18
叫号精灵_3.6.19
叫号精灵_3.6.20
